# mercurial-related
.hg/
.hgignore

# ignore this ripped data
doc/functions/sound/instruments/level_complete_0/

# ignore binary sound drivers
src/sound/*.m1
src/sound/*.z80

# ignore any relevant binaries in the examples folder
examples/*/*.p
examples/*/*.p1
examples/*/*.prg
examples/*/*.PRG

# ignore any listing files in the examples folder
examples/*/*.lst
examples/*/*.iso
