# mercurial-related
.hg/
.hgignore

# visual studio crap
*.suo
*.pdb

# ignore this ripped data
doc/functions/sound/instruments/level_complete_0/

# ignore vlink objects
*.vobj

# ignore binary sound drivers
src_z80/*.m1
src_z80/*.z80
src_z80/*.Z80

# ignore any relevant binaries in the examples folder
examples/*/*.p
examples/*/*.p1
examples/*/*.prg
examples/*/*.PRG

# ignore any listing files in the examples folder
examples/*/*.lst

# ignore disk images for Neo-Geo CD(Z)
examples/*/*.iso
examples/*/*.chd

# ignore certain files in tools
tools/yy-chr_plugins/NeoFix_yyplug/NeoFix_yyplug/*.user
tools/yy-chr_plugins/NeoFix_yyplug/NeoFix_yyplug/bin/*
tools/yy-chr_plugins/NeoFix_yyplug/NeoFix_yyplug/obj/*
